html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: #000;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

body > img {
  position: absolute;
}

#main {
  width: 100%;
}

header, footer {
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#logo a {
  display: block;
  background: url('/img/logo.png') 0 0 no-repeat;
  background-size: 100% 100%;
  width: 107px;
  height: 50px;
  text-indent: -999em;
}

#restart {
  text-transform: uppercase;
  font-size: 18px;
  padding: 8px 16px;
  border: 0;
  border-radius: 3px;
  background: #ff9900;
  color: #fff;
  cursor: pointer;
}