html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Slabo 27px', sans-serif;
  background-color: #000;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

body > img {
  position: fixed;
}

#main {
  width: 100%;
}

header, footer {
  color: #fff;
  padding: 10px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}

#controls {
  position: absolute;
  top: 35px;
  left: 20px;
}

footer {
  flex-direction: column;
  -webkit-flex-direction: column;
}

#logo {
  display: block;
  background: url('/img/logo_white.png') 50% 0 no-repeat;
  background-size: auto 100%;
  width: 300px;
  height: 30px;
  text-indent: -999em;
  margin: 5px 0;
}

#restart {
  font-family: 'Slabo 27px', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 18px;
  padding: 8px 16px;
  border: 0;
  border-radius: 3px;
  background: #ff9900;
  color: #fff;
  cursor: pointer;
  margin-left: 40px;
}

#credits {
  color: rgba(255, 255, 255, .75);
  display: flex;
  display: -webkit-flex;
  font-size: 14px;
  letter-spacing: .08em;
  line-height: 40px;
}

.heart {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 18px;
  margin: 10px .25em;
}

.heart:before, .heart:after {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  width: 50%;
  height: 90%;
  background: red;
  border-radius: 50% 50% 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin :100% 100%;
}