@import '//fonts.googleapis.com/css?family=Slabo+27px';
@import '/css/layout.css';

#game {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 1.4vw;
  position: relative;
  width: 100%;
  height: 40vw;
  background-color: #fff;
  cursor: default;
}

.touch-control {
  display: none;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .5);
  bottom: -40px;
  right: 8px;
  z-index: 1001;
}

.touch-control.left {
  left: 8px;
  right: auto;
}

.touch-control.active {
  display: block;
}

.loader {
  position: absolute;
  background: url('/img/logo_black.png') top center no-repeat;
  background-size: 100% auto;
  width: 30vw;
  height: 16vw;
  left: 35vw;
  top: calc(50% - 8vw);
}

.loading-bar {
  position: absolute;
  bottom: 0;
  background-color: #000;
  height: .5vw;
  width: 0;
  transition: width 300ms;
}

.moment, .scene {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

@-moz-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

.player {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('/img/player.png');
  background-size: 600% 303%;
  background-position: 0 100%;
  width: 15vw;
  height: 30vw;
  bottom: 0;
  left: 16px;
  pointer-events: none;
  z-index: 999;
}

.player.moving {
  -webkit-animation: playerMoving 1s steps(6) infinite;
  -moz-animation: playerMoving 1s steps(6) infinite;
}

.reflection {
  position: absolute;
  bottom: 100%;
  width: 200%;
  background-color: #fff;
  border-radius: .5vw;
  padding: 1vw;
  margin: 0 -50% 1vw;
  text-align: center;
  opacity: 0;
  transition: opacity 200ms;
}

.reflection.active {
  opacity: 1;
}

.inspiration {
  cursor: cell;
}

.scene > * {
  background-size: 100% 100%;
}

.scene .label {
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  padding: .5vw;
  border-radius: .5vw;
  visibility: hidden;
  z-index: 1000;
}

.scene .label.active {
  visibility: visible;
}