@import '//fonts.googleapis.com/css?family=Slabo+27px';
@import '/css/layout.css';

#game {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 1.4vw;
  position: relative;
  width: 100%;
  height: 40vw;
  background-color: #aaa;
  cursor: default;
}

.moment, .scene {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

@-moz-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

#player {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('/img/player.png');
  background-size: 600% 302%;
  background-position: 0 100%;
  width: 15vw;
  height: 30vw;
  bottom: 0;
  left: 16px;
  pointer-events: none;
  z-index: 999;
}

#player.moving {
  -webkit-animation: playerMoving 1s steps(6) infinite;
  -moz-animation: playerMoving 1s steps(6) infinite;
}

#player.left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.reflection {
  position: absolute;
  bottom: 100%;
  width: 200%;
  background-color: #fff;
  border-radius: .5vw;
  padding: 1vw;
  margin: 0 -50% 1vw;
  text-align: center;
  opacity: 0;
  transition: opacity 200ms;
}

.reflection.active {
  opacity: 1;
}

#player.left .reflection {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.inspiration {
  position: absolute;
  cursor: cell;
}

.scene > * {
  background-size: 100% 100%;
}

.scene .label {
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  padding: .5vw;
  border-radius: .5vw;
  visibility: hidden;
}

.scene .label.active {
  visibility: visible;
}

#scene1 .background {
  background-image: url('/img/scene1bg.jpg');
  width: 100%;
  height: 100%;
}

#map1 {
  background-image: url('/img/map1.png');
  width: 22.7vw;
  height: 16.4vw;
  left: 73.3vw;
  top: 1.263vw;
}

#table1 {
  background-image: url('/img/table1.png');
  width: 25.47vw;
  height: 7.79vw;
  left: 47.16vw;
  top: 19.68vw;
}

#weapons1 {
  background-image: url('/img/weapons1.png');
  width: 24.37vw;
  height: 14.63vw;
  left: 26.95vw;
  top: 2.3vw;
}

#window1 {
  background-image: url('/img/window1.png');
  width: 20.95vw;
  height: 17.74vw;
  left: 1.74vw;
  top: 1.21vw;
}