@import '//fonts.googleapis.com/css?family=Slabo+27px';
@import '/css/layout.css';

#game {
  font-family: 'Slabo 27px', sans-serif;
  font-size: 1.4vw;
  position: relative;
  width: 100%;
  height: 40vw;
  background-color: #aaa;
  cursor: default;
}

.moment, .scene {
  width: 100%;
  height: 100%;
}

@-webkit-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

@-moz-keyframes playerMoving {
  0% { background-position: 0 0; }
  100% { background-position: 120% 0; }
}

#player {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('/img/player.png');
  background-size: 600% 302%;
  background-position: 0 100%;
  width: 15vw;
  height: 30vw;
  bottom: 0;
  left: 16px;
  pointer-events: none;
}

#player.moving {
  -webkit-animation: playerMoving 1s steps(6) infinite;
  -moz-animation: playerMoving 1s steps(6) infinite;
}

#player.left {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.reflection {
  position: absolute;
  bottom: 100%;
  width: 200%;
  background-color: #fff;
  border-radius: .5vw;
  padding: 1vw;
  margin: 0 -50% 1vw;
  text-align: center;
  opacity: 0;
  transition: opacity 200ms;
}

.reflection.active {
  opacity: 1;
}

#player.left .reflection {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.inspiration {
  cursor: cell;
}

.scene .label {
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
  padding: .5vw;
  border-radius: .5vw;
  visibility: hidden;
}

.scene .label.active {
  visibility: visible;
}

#map {
  background-image: url('/img/map.jpg');
  width: 40vw;
  height: 35vh;
}

#weapons {
  background-image: url('/img/weapons.jpg');
  width: 25vw;
  height: 25vh;
}

#window {
  background-image: url('/img/window.jpg');
  width: 25vw;
  height: 25vh;
}

#table {
  background-image: url('/img/table.jpg');
  width: 60vw;
  height: 50vh;
}

#commander {
  background-image: url('/img/commander.jpg');
  width: 20vw;
  height: 20vh;
}

/* POSITIONING */
#map {
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
}

#weapons {
  top: 8vh;
  right: 16px;
}

#window {
  top: 8vh;
  left: 16px;
}

#table {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#commander {
  bottom: 50vh;
  left: 0;
  right: 0;
  margin: auto;
}

/* SOLDIER *